# Arquivos de Log e Auxiliares do LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# Arquivos gerados pela Bibliografia (BibTeX)
*.bbl
*.blg

# Arquivo PDF de saída
# (É boa prática não versionar o PDF, pois ele é um produto do código, não o código em si)
*.pdf

# Arquivos de backup de editores
*.bak
*~